<div class="map-main">
    <gmap track="track" account="account" systems="systems" config="mapconfig" center="center" sfilter="sfilter" on-hide="onHide()"></gmap>
</div>

<div class="map-control">
    <mapsyslist skey="skey" account="account" systems="systems" zoom="{{zoomlist}}" select="onSelect" sfilter="sfilter"></mapsyslist>

    <div class="mapcalendar">
      <div id="datepicker" data-date-language="ru" data-date-weekstart="1"></div>
    </div>
</div>

<div class="map-timeline" ng-class="{true: 'disabled'}[points==0]" data-points="{{points}}">
    <div id="timeline" data="timeline" timeline on-hover="onTimelineHover" on-click="onTimelineClick"></div>
</div>

