
<li ng-class="{active: (item.id == skey)}" ng-click="onClick(item.id)">
    <div style="position: relative;">
        <span class="desc">
            <i class="{{ item.icon }} icon-large {{ item.dynamic ? $freshmark.get(item.dynamic).class : ''}}" title="{{ item.dynamic ? $freshmark.get(item.dynamic).title : '' }}"></i>
            {{ item.title }}
        </span>
        <ul class="popup active">
            <li><a title="Нажмите чтобы посмотреть информацию о трекере" href="#/config/{{item.id}}/info"><i class="icon-info-sign"></i></a></li>
            <li><a title="Нажмите чтобы построить отчеты" href="#/reports?skey={{item.id}}"><i class="icon-table"></i></a></li>
        </ul>
    </div>

    <div ng-show="zoomlist > 0">
        <span class="status">
            {{ item.dynamic.speed | number:1 }} км/ч
        </span>
        <span class="signal">
            <datetime datetime="{{ item.dynamic.dt }}" seconds="false"></datetime>
        </span>
        <br>
        <span class="status">
            <span title="Основное питание"><i class="icon-ambulance"></i><strong>{{ item.dynamic.vout }}В</strong></span>
            <span title="Резервное питание"><i class="icon-bolt"></i><strong>{{ item.dynamic.vin | vin }}</strong></span>
            <span title="Сигнал GSM"><i class="icon-signal"></i>{{ item.dynamic.csq * 100 / 32 | number:0}}%</span>
            <i title="Сигнал GPS" class="fonticon">e</i>{{ item.dynamic.sats }}
        </span>

    </div>
    <div ng-show="zoomlist > 1">
            Выход на связь: <datetime datetime="{{ item.dynamic.lastping }}"></datetime><br>
            Текущее состояние: {{ item.dynamic.speed | number:1 }} км/ч<br>
            Число спутников: {{ item.dynamic.sats || '?'}}<br>
            Уровень GSM: {{ item.dynamic.csq * 100 / 32 | number:0}}%<br>
            Уровень GPS: {{ item.dynamic.sats * 100 / 12 | number:0}}%<br>
            Основное питание: {{ item.dynamic.vout }} В<br>
            Резервное питание: {{ item.dynamic.vin | vin }}<br>
            Координаты: <input class="clone" value="{{ item.dynamic.latitude | number:4 }}, {{ item.dynamic.longitude | number:4}}"/><br>
            Дата метки: <datetime datetime="{{ item.dynamic.dt }}"></datetime><br>
<!--
            Высота над ур.моря: ? м<br>
            Температура: ? &deg;С<br>
            Корпус: ?<br>
            Вход 1: ?<br>
            Вход 2: ?<br>
            Вход 3: ?<br>
            Выход 1: ?<br>
            Выход 2: ?<br>
-->
            <div ng-show="item.car.hasFuelSensor">Уровень топлива: {{ item.dynamic.fuel | number:1 }} л<br></div>
    </div>
</li>
