<div class="container">

  <h2>Регистрация</h2>

   <form class="form-horizontal" role="form" ng-submit="registerUser()" tab-form>
    <div class="form-group">
      <label>Имя пользователя</label>
      <div class="input-group">
        <span class="btn input-group-addon" ng-click="showRealName = !showRealName" title="Нажмите чтобы задать отображаемое имя пользователя"><i class="icon-user"></i></span>
        <input focus-me="true" type="text" class="form-control" placeholder="Используется для входа" ng-model="user.username" required>
        <span class="btn input-group-addon" ng-click="showRealName = !showRealName" title="Нажмите чтобы задать отображаемое имя пользователя">Еще&#8230;</span>
      </div>
    </div>

    <div class="form-group addons" ng-if="showRealName">
      <label>Отображаемое имя пользователя</label>
      <div class="input-group">
        <span class="btn input-group-addon"><i class="icon-smile"></i></span>
        <input type="text" class="form-control" placeholder="Так вас будут видеть другие пользователи" ng-model="user.title" required>
      </div>
    </div>

    <div class="form-group">
      <label>Пароль</label>
      <div class="input-group">
        <span class="btn input-group-addon" ng-click="showEmail = !showEmail" title="Нажмите чтобы указать email для процедуры восстановления пароля"><i class="icon-lock"></i></span>
        <input type="password" class="form-control" placeholder="Рекомендуется не менее 6-ти символов" ng-model="user.password" required>
        <span class="btn input-group-addon" ng-click="showEmail = !showEmail" title="Нажмите чтобы указать email для процедуры восстановления пароля">Еще&#8230;</span>
      </div>
    </div>

    <div class="form-group addons" ng-if="showEmail">
      <label>Электронный ящик</label>
      <div class="input-group">
        <span class="btn input-group-addon"><i class="icon-unlock"></i></span>
        <input type="email" class="form-control" placeholder="Укажите если хотите иметь возможность восстановления пароля" ng-model="user.email">
      </div>
    </div>


    <div class="form-group">
      <span class="info">Чтобы иметь возможность создавать общие списки транспортных средств, объекты на карте, шаблоны отчетов и многое другое, необходимо создать группу пользователей (компанию) или присоединиться к существующей группе. Вы можете это сделать и после регистрации пользователя.</span><br />

      <div class="btn-group text-left" style="margin-top: 8px">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          {{groupCmd}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:void(0);" ng-click="showGroup='add'; user.newgroup = true; groupCmd=$event.target.innerText"><i class="icon-plus-sign"></i> Создать группу и стать ее администратором</a></li>
          <li><a href="javascript:void(0);" ng-click="showGroup='join'; user.newgroup = false; groupCmd=$event.target.innerText"><i class="icon-group"></i> Присоединиться к существующей группе</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0);" ng-click="showGroup=false; groupCmd=$event.target.innerText"><i class="icon-remove-sign"></i> Не создавать группу</a></li>
        </ul>
      </div>
    </div>

    <div class="alert alert-info addons" ng-switch="user.newgroup" ng-if="showGroup">
      <span ng-switch-when="true">Будет создана группа пользователей <strong>{{ user.groupname }}</strong>, и вы станете ее администратором. Для приглашения пользователей в группу, сообщите им название группы и проверочное слово <strong>{{ user.grouppassword }}</strong>.</span>
      <span ng-switch-when="false">Чтобы присоединиться к существующей группе вы должны правильно указать название группы и проверочное слово.</span>
    </div>

    <div class="form-group addons" ng-if="showGroup">
      <label>Группа</label>
      <div class="input-group">
        <span class="btn input-group-addon"><i class="icon-group"></i></span>
        <input type="text" class="form-control" placeholder="Используется для объединения группы пользователей" ng-model="user.groupname" required>
      </div>
    </div>
    <div class="form-group addons" ng-if="showGroup">
      <label>Проверочное слово</label>
      <div class="input-group">
        <span class="btn input-group-addon"><i class="icon-thumbs-up"></i></span>
        <input type="text" class="form-control" placeholder="Необходимо для вступления в группу пользователей" ng-model="user.grouppassword" required>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Создать пользователя</button>
          <button type="cancel" class="btn btn-warning" onclick="self.close();">Отмена</button>
        </div>
        <div class="col-md-9 error-alert" ng-show="showerror" id="bugfix0001" style="display:none">
          <div class="alert alert-danger" ng-switch="error">
            <span ng-switch-when="userexist">Пользователь с именем <strong>{{ user.username }}</strong> уже существует.</span>
            <span ng-switch-when="groupexist">Группа с именем <strong>{{ user.groupname }}</strong> уже существует.</span>
            <span ng-switch-when="nogroup">Группы <strong>{{ user.groupname }}</strong> не существует.</span>
            <span ng-switch-when="grouppassword">Проверочное слово для группы <strong>{{ user.groupname }}</strong> не верно.</span>
            <span ng-switch-default>?</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="registerMessage">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Регистрация успешна</h4>
        </div>
        <div class="modal-body">
          <p>Регистрация пользователя <strong>{{ user.username }}</strong> прошла успешно.</p>
          <p>Теперь вы можете закрыть текущую вкладку и вернуться на вкладку входа.</p>
          <p>Или закрыть окно и зарегестрировать еще одного пользователя.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="window.close();return false;">Закрыть окно.</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Зарегестрировать еще одного пользователя</button>
        </div>
      </div>
    </div>
  </div>

</div>
