<h4><navtool></navtool> Экспорт GPS</h4>

<div id="geos_head">
    <form class="form-inline" style="margin:10px 0 10px 0;">
        <select class="form-control" ng-model="skey" ng-options="systems[s].title for s in account.account.skeys" style="width: 210px;" ng-change="onSysSelect()">
            <option value="" ng-show="!skey">Выберите систему</option>
        </select>

        <div class="btn-group" ng-show="!!skey && (skey !== '+') && (skey != null)">
            <button class="btn btn-primary" ng-class="{active: (day==0)}" ng-click="selectday(0)">Сегодня</button>
            <button class="btn btn-primary" ng-class="{active: (day==-1)}" ng-click="selectday(-1)">Вчера</button>

            <button href="#" class="btn btn-primary small dropdown-toggle" ng-class="{active: ((day!=0) && (day!=-1))}"  id="inputDate"><span ng-show="(day == 0) || (day == -1)">Выбрать</span><span ng-hide="(day == 0) || (day == -1)">{{ datetime | datetime:false:'date' }}</span> <span class="caret"></span></button>

        </div>

        <a ng-if="exporturl" href="{{exporturl}}" download="exportGPS.xlsx" title="Загрузить в формате Excel" style="float:right; margin:5px;"><span class="icon-file icon-2x"></span></a>
    </form>

    <div class="georow" style="font-weight: bold;">
            <span><i ng-hide="alldata" ng-class="allprogress" title="Загрузить все данные" style="cursor:pointer" ng-click="loadAllData()"></i> Время</span>
            <span>Координаты</span>
            <span title="Спутники"><a href="#/reports/{{skey}}/chart?chart=sats&from={{day}}&to={{day}}"><span class="showchart" style="background-image: url(img/sputnik.png);width: 32px;height: 32px;background-position: 0px 0px;" data-value="sats"></span></a></span>
            <span title="Скорость"><a href="#/reports/{{skey}}/chart?chart=speed&from={{day}}&to={{day}}"><span class="showchart" style="background-image: url(img/ulitka.png);width: 32px;height: 32px;background-position: 0px 0px;" data-value="speed"></span></a></span>
            <span><a href="#/reports/{{skey}}/chart?chart=vout&from={{day}}&to={{day}}">Uосн.</a></span>
            <span><a href="#/reports/{{skey}}/chart?chart=vin&from={{day}}&to={{day}}">Uрез.</a></span>
            <span><a href="#/reports/{{skey}}/chart?chart=fuel&from={{day}}&to={{day}}">Топл.</a></span>
            <span>Тип</span>
    </div>

</div>

<div id="geos_body">
    <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3" infinite-scroll-parent ng-mousemove="onMouse($event)">
        <div ng-repeat="g in items" bindonce class="georow" bo-attr bo-attr-index = "$index">
            {{ i.dt }}
            <span bo-text="g.dt | datetime:true:'time'"></span>
            <span><span bo-text="g.lat | number:3"></span>,<span bo-text="g.lon | number:3"></span></span>
            <span bo-text="g.sats"></span>
            <span bo-text="g.speed | number:1"></span>
            <span bo-text="g.vout | number:1"></span>
            <span bo-text="g.vin | number:2"></span>
            <span bo-text="g.fuel | number:1"></span>
            <span bo-title="(g.fsource | fsource).title" style="color:grey"><i bo-class="s" ng-repeat="s in (g.fsource | fsource).icons" style="padding-left:2px"></i></span>
        </div>
    </div>
</div>

<div class="geo_map" style="">
    <gmap track="track" center="center" config="mapconfig"></gmap>
</div>
