<h4><navtool></navtool> Администрирование</h4>

<!-- <h5>Группы пользователей (компании):</h5>

<p>TBD.</p>

<button class="btn btn-primary" role="button" ng-click="formAddGroup = !formAddGroup">
    <i class="glyphicon glyphicon-user"></i> Добавить группу
</button>

<form class="form-inline" role="form" ng-show="formAddGroup">
  <div class="form-group">
    <label class="sr-only" for="formAddGroupName">Наименование группы</label>
    <input type="text" class="form-control" id="formAddGroupName" placeholder="Наименование группы" ng-model="group.name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="formAddGroupName">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Пароль">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="email">
  </div>
  <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
</form>
-->

<dir class="row">
    <div class="col-md-4">
        <a href="#/admin/users" class="btn btn-primary" style="min-width: 150px" disabled>
            <i class="icon-user icon-3x"></i><br />
            Пользователи
        </a>
    </div>
    <div class="col-md-4">
        <a href="#/admin/systems" class="btn btn-primary" style="min-width: 150px">
            <i class="icon-truck icon-3x"></i><br />
            Трекеры
        </a>
    </div>
</dir>


<!--
<h5>Список пользователей:</h5>

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>№пп</th>
        <th>Имя</th>
        <th>Отображаемое имя</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ $index + 1 }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.title }}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" role="button" ng-click="formAddUser = !formAddUser">
    <i class="glyphicon glyphicon-user"></i> Добавить пользователя
</button>

<form class="form-inline" role="form" ng-show="formAddUser" ng-submit="addUser()">
  <div class="form-group">
    <label class="sr-only" for="formAddUserUsername">Имя пользователя</label>
    <input type="text" class="form-control" id="formAddUserUsername" placeholder="Имя пользователя" ng-model="user.username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="formAddUserPassword">Пароль</label>
    <input type="password" class="form-control" id="formAddUserPassword" placeholder="Пароль" ng-model="user.password">
  </div>
  <div class="form-group">
    <label class="sr-only" for="formAddUserEmail">Email address</label>
    <input type="email" class="form-control" id="formAddUserEmail" placeholder="email" ng-model="user.email">
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>

 -->
