<ol class="breadcrumb">
    <navtool></navtool>
  <li><a href="#/admin">Администрирование</a></li>
  <li class="active">Трекеры</li>
</ol>

<table class="table table-condensed table-hover table-striped">
    <thead><tr>
        <th>№п.п</th>
        <th>IMEI</th>
        <th>Зарегестрирован</th>
    </tr></thead>
    <tbody>
        <tr ng-repeat="(key, value) in systems.systems">
            <td>{{ $index + 1 }}</td>
            <td><input class="clone" value="{{ value.imei }}"/></td>
            <td><datetime seconds="false" datetime="{{ value.date }}"></datetime></td>
        </tr>
    </tbody>
</table>

<p>Всего трекеров: {{ systems.systems.length }}</p>
<p>Список для добавления: <blob-data data="systems.systems" field="imei"></blob-data></p>

