<h4><navtool></navtool><span translate>Reports</span></h4>
<hr>
<style type="text/css">
.titleInputBlock select {
    width: 210px;
    display:inline-block;
}
.titleInputBlock label {
    display: block;
}
#reportSettings {
    padding-bottom: 10px;        
}
.Item.active{
    background-color: rgba(0, 255, 98, 0.45);
}
.Item {
    width:100%;
    height: 30px;
    padding: 3px;
    padding-right:10px;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px solid black;
    background-color: rgba(49, 96, 121, 0.22);
    cursor: pointer;
}
#templatesSettingsModal .well ul{
    margin-left:0;
    border: 1px solid black;
    border-radius: 5px;
    padding:2px;
}
#templatesSettingsModal li {
      list-style-type:none;   
}
.dataList, .eventsList {
    width: 47%;
    margin: 5px;
    display: inline-block;
}

/////////
ul.nav-tabs:before, ul.nav-tabs:after {
    display: table;
    line-height: 0;
    content: "";
}
    
ul.nav-tabs:after {
        clear: both;
}
    
ul.nav-tabs:before, ul.nav-tabs:after {
        display: table;
        line-height: 0;
        content: "";
}
ul.nav-tabs {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0;
        margin-left: 4px;
        margin-right: 4px;
        //border-bottom-color: transparent;
        padding-left: 0;
}
ul.nav-tabs>li>a {
        display: block;  
        color: #08c;
        text-decoration: none;
        padding-right: 12px;
        padding-left: 12px;
        margin-right: 2px;
        line-height: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 20px;
        border: 1px solid transparent;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
}
ul.nav-tabs>.active>a, ul.nav-tabs>.active>a:hover, ul.nav-tabs>.active>a:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
}
ul.nav-tabs>.active>a:hover, ul.nav-tabs>li>a:hover {
        background-color: #c3c3c3;
}
ul.nav-tabs>li {
        line-height: 20px;
        list-style: none;
        margin-bottom: -1px;
        float: left;
        cursor: pointer;
}
</style>
<!--------------------------------------------------------------------------------------------------------------------->
<div id="reportSettings">
    <div class="titleInputBlock">
        <label translate>System:</label>
        <select class="form-control" ng-model="reportSettings.systemKey" ng-options="systems[s].title for s in account.account.skeys" ng-change="onSysSelect()">
                <option value="" ng-show="!reportSettings.systemKey" translate>Select system</option>
        </select>
    </div>
    <div class="titleInputBlock">
        <label translate>Template</label>
        <div>
            <div style="display:inline-block">
                <select class="form-control" ng-model="reportSettings.template" ng-options="value as value.name for (key, value) in Templates.templates"></select>              </div>
            <div style="display:inline-block;margin-left:10px;">
                <button class="btn btn-primary icon-gears" ng-click="showTamplatesSettings()"></button>
            </div>   
        </div>    
        <div class="titleInputBlock">
            <label translate>Date</label>
            <datepicker interval-picker="false" time-from="reportSettings.interval.timeStart" time-to="reportSettings.interval.timeStop"  date-from="reportSettings.interval.start" date-to="reportSettings.interval.stop" range="reportSettings.interval.range" on-change="changeDate()">
        </div>
        <!--<div class="titleInputBlock">
        <label>Время:</label>
        <div class="btn-group">
            <button type="button" id="timeInterval" class="btn btn-primary ng-dirty">00 : 00</button>
        </div>-->
    </div>
    </div>
</div>
<br>
<button class="btn btn-primary" ng-click="generateReport()" translate>Generate report</button>
<div class="allReportsBlock" ng-hide="Reports.allReports.length == 0">
    <h4><ss translate>All reports</ss>:</h4>
    <!--<span ng-show="allReports.length == 0" translate>not generated reports</span>-->
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <td translate>System Name</td>
                <td translate>Date</td>
                <!--<td translate>Time</td>-->
                <td translate>Open</td>
                <td translate>Download</td>
                <td translate>Remove</td>
            </tr>
        </thead>
        <tr ng-repeat="report in Reports.allReports">
            <td>{{ report.systemName }}</td>
            <td>{{ Reports.getReportInterval(report).start + ' - ' +  Reports.getReportInterval(report).stop }}</td>
            <!--<td>{{ '00:00 - 23:59' }}</td>-->
            <td><a href="{{'#/singleReport' + report.url}}">Ссылка</a></td>
            <td><a href="{{report.dowloadData.link}}" download="{{report.dowloadData.fileName}}">Загрузить</a></td>
            <td><button class="btn" title="Remove" ng-click="Reports.removeReport(report)" >x</button></td>
        </tr>
    </table>
</div><!--((webkit_req_fs) ? ('.' + report.dowloadData.fileName) :'')-->        
        
<div class="modal fade" id="templatesSettingsModal">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h3 translate>Templates settings</h3>
	        </div>
	          <div class="modal-body">
			    <div class="name-select-group">
                    <label translate>Template<s>:</s></label>
                    <div>
                        <div style="display:inline-block;margin-left:10px;">
                            <select style="width:210px;" class="form-control" ng-model="templatesSettings.currentTemplate" ng-options="value as value.name for (key, value) in Templates.templates"></select>
                        </div>
                        <div style="display:inline-block;margin-left:10px;">
                            <button class="btn btn-primary" title="Add new template" ng-click="addNewTemplate()">+</button>
                            <button class="btn btn-primary" title="Remove" ng-click="removeTemplate(templatesSettings.currentTemplate)">x</button>
                        </div> 
                    </div>
			    </div>
                <br>
                <div class="titleInputBlock">
                    <label translate>Template name<s>:</s></label>
                    <div>
                        <dd contenteditable="true" ng-model="templatesSettings.currentTemplate.name" ng-change=""></dd>
                    </div>
			    <br>                  
                  <ul class="nav-tabs"><!-- ngRepeat: pane in panes -->
                      <li ng-class="{active:(templatesSettings.reportRadio === 'main')}"><a ng-click="(templatesSettings.reportRadio = 'main')" translate>Main report</a></li>
                      <li ng-class="{active:(templatesSettings.reportRadio === 'summary')}"><a ng-click="(templatesSettings.reportRadio = 'summary')" translate>Summary report</a></li>
                  </ul>
			    <div class="well">
                    <div ng-show="templatesSettings.reportRadio === 'main'">
                        <div id="mainReportSettings">
                            <label translate>Select main report data</label>
                            <div class="eventsList">
                                <div translate>Events</div>
                                <ul>
                                    <li ng-repeat="item in templatesSettings.currentTemplate.mE">
                                        <div class="Item" ng-class="{active: item.on}" ng-click="Templates.toggleMEItem(templatesSettings.currentTemplate, item)"><span style="width:90%; float:left;" translate>{{ item.value }}</span><span style="float:right; width:5%;padding-top:5px;" class="icon-ok-sign" ng-class="{hide: !item.on}"></span></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="dataList">
                                <div translate>Data</div>
                                <ul>
                                    <li ng-repeat="item in templatesSettings.currentTemplate.mD">
                                        <div class="Item" ng-class="{active: item.on}" ng-click="Templates.toggleMDItem(templatesSettings.currentTemplate, item)"><span style="width:90%; float:left;" translate>{{ item.value }}</span><span style="float:right; width:5%;padding-top:5px;" class="icon-ok-sign" ng-class="{hide: !item.on}"></span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="color: gray">
                            <h5><d translate>Примечание</d>:</h5>
                            <span><d translate>Data</d>:&nbsp<span style="font-size: 115%; color: black">[<d translate>re</d>,<d translate>fD</d>,<d translate>cFL</d>,&nbsp<d translate>fL</d>]</span>&nbspбудут присутствовать в отчете только если установлен датчик уровня топлива.</span>
                        </div>
                    </div>
                    
                    
                    <div ng-show="templatesSettings.reportRadio === 'summary'">
                        <div id="summaryReportSettings">
                            <label translate>Select summary report data</label>
                            <div style="width:100%">
                                <div translate>Controlled parameters</div>
                                <ul>
                                    <li ng-repeat="item in templatesSettings.currentTemplate.sE">
                                        <div class="Item" ng-class="{active: item.on}" ng-click="Templates.toggleSEItem(templatesSettings.currentTemplate, item)"><span style="width:90%; float:left;" translate>{{ item.value }}</span><span style="float:right; width:5%;padding-top:5px;" class="icon-ok-sign" ng-class="{hide: !item.on}"></span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="color: gray">
                            <h5><d translate>Примечание</d>:</h5>
                            <span><d translate>Data</d>:&nbsp<span style="font-size: 115%; color: black">[<d translate>fCs</d>,&nbsp<d translate>tF</d>,&nbsp<d translate>tDF</d>]</span>&nbspбудут присутствовать в отчете только если установлен датчик уровня топлива.</span>
                        </div>
                    </div>
			    </div> 
			</div>
	      <div class="modal-footer">
	        <button class="btn" data-dismiss="modal">Ok</button>
	      </div>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
</div>
<!--------------------------------------------------------------------------------------------------------------------->
