<style type="text/css">
table td.td_i {
    white-space: nowrap;
}
.td_cFLa, .td_cFL, .td_fL, .td_aS, .td_dT {
    text-align: center;
}
</style>

<h4><navtool></navtool><span translate>Reports</span></h4>
<hr>
<h4 translate>Report options</h4>
<div style="border:1px solid black;margin:5px 20px;" id="reportInfo">
    <h5 style="position:relative;left:30%; width:40%;text-align:center;" id="sysName"><span style="font-size:120%;" translate>System:</span>&nbsp{{ report.systemName }}</h5>
    <div id="reportDate">
        <span style="margin:5px 15px;font-size:110%"><span translate>Start date:</span>&nbsp{{interval.start}}</span>
        <span style="margin:5px 15px;font-size:110%"><span translate>Stop date:</span>&nbsp{{interval.stop}}</span>
    </div>
</div>
<div ng-show="report.ready && report.reportData.mRows.length === 0">
    <p translate>Empty data</p>
</div>
<div ng-hide="!report.ready || report.reportData.mRows.length === 0">
    <div id="downloadLink" ng-hide="report.reportData.mRows.length === 0">
         <a href="{{report.dowloadData.link}}" download="{{report.dowloadData.fileName}}" translate>Download report</a>
    </div>
    <h4 translate>Main report</h4>
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th translate>event</th>
                <th ng-repeat="item in report.reportData.mHeaders" translate>{{ item }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in report.reportData.mRows">
                <td class="td_event" translate>{{ row.event }}</td>
                <!-- разобраться с сепараторами -->
                <td class="{{'td_' + report.reportData.mHeaders [$index]}}" ng-repeat="item in row.columns track by $index">{{ item }}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h4 translate>Summary report</h4>
    <table style="width:50%; min-width:500px" class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th translate>Controlled parameters</th>
                <th ng-repeat="item in report.reportData.sHeaders" translate>{{ item }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in report.reportData.sRows">
                <td translate>{{ row.event }}</td>
                <td ng-repeat="item in row.columns track by $index">{{ item }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="loader" ng-hide="report.ready">
    <i class="icon-refresh icon-4x icon-spin"></i>
</div>



