<h4><navtool></navtool> Информация о трекере</h4>

<div class="scrollable">


<!--div class="span4"-->

<div class="row">
    <div class="well well-small col-lg-4">
        <h4>Информация о трекере</h4>

        <dl class="dl-horizontal">
            <dt>Модель</dt><dd>MT-400</dd>
            <dt>IMEI</dt><dd><input class="clone" value="{{ system.imei }}"/></dd>
            <dt>Телефон SIM-карты</dt><dd><input class="clone" value="{{ system.phone || '?'}}"/></dd>
            <dt>Зарегестрирован</dt><dd><datetime seconds="false" datetime="{{ system.date }}"></datetime></dd>
            <dt>Версия ПО</dt><dd>{{ system.swid || '?' }}<!--i class="icon-question-sign cmd" title="Проверить доступность обновления"></i--></dd>
            <dt>Расширеный режим</dt><dd><input type="checkbox" class="btn btn-primary" ng-model="system.params.notranslate" ng-change="system.$patch('params')" title="Старый сайт не будет получать данные."></dd>
        </dl>

        <!--button class="btn btn-small" ng-click="new()">Добавить произвольное поле</button-->
    </div>

    <div class="well well-small span4 col-lg-4">
        <h4>Сведения о состоянии</h4>

        <dl class="dl-horizontal">
            <dt>Выход на связь</dt><dd><datetime datetime="{{ system.dynamic.lastping }}"></datetime></dd>
            <dt>Текущее состояние</dt><dd>{{ system.dynamic.speed | number:1 }} км/ч <a href="#/reports/{{skey}}/chart?chart=speed&from=0&to=0"><i class="icon-bar-chart"></i></a></dd>
            <dt>Число спутников</dt><dd>{{ system.dynamic.sats || '?'}} <a href="#/reports/{{skey}}/chart?chart=sats&from=0&to=0"><i class="icon-bar-chart"></i></a></dd>
            <dt>Уровень GSM</dt><dd>{{ system.dynamic.csq * 100 / 32 | number:0}}%</dd>
            <dt>Уровень GPS</dt><dd>{{ system.dynamic.sats * 100 / 12 | number:0}}%</dd>
            <dt>Основное питание</dt><dd>{{ system.dynamic.vout }} В <a href="#/reports/{{skey}}/chart?chart=vout&from=0&to=0"><i class="icon-bar-chart"></i></a></dd>
            <dt>Резервное питание</dt><dd>{{ system.dynamic.vin | vin }} <a href="#/reports/{{skey}}/chart?chart=vin&from=0&to=0"><i class="icon-bar-chart"></i></a></dd>
            <dt>Координаты</dt><dd><input class="clone" value="{{ system.dynamic.latitude | number:4 }}, {{ system.dynamic.longitude | number:4}}"/></dd>
            <dt>Дата метки</dt><dd><datetime datetime="{{ system.dynamic.dt }}"></datetime></dd>
<!--
            <dt>Высота над ур.моря</dt><dd>? м</dd>
            <dt>Температура</dt><dd>? &deg;С</dd>
            <dt>Корпус</dt><dd>?</dd>
            <dt>Вход 1</dt><dd>?</dd>
            <dt>Вход 2</dt><dd>?</dd>
            <dt>Вход 3</dt><dd>?</dd>
            <dt>Выход 1</dt><dd>?</dd>
            <dt>Выход 2</dt><dd>?</dd>
 -->
            <dt ng-show="system.car.hasFuelSensor">
                Уровень топлива</dt><dd ng-show="system.car.hasFuelSensor">{{ system.dynamic.fuel | number:1 }} л
                <a href="#/config/{{skey}}/params/fuel"><i class="icon-wrench"></i> <a href="#/reports/{{skey}}/chart?chart=fuel&from=0&to=0"><i class="icon-bar-chart"></i></a></a>
            </dd>
        </dl>

        <!--button class="btn btn-small" ng-click="update()">Обновить</button-->
    </div>

    <div class="well well-small span4 col-lg-4">
        <h4>Информация о транспортном средстве</h4>

        <dl class="dl-horizontal">
            <dt>Значек</dt><dd><a class="caricon" ng-click="changeIcon()"><i class="{{ system.icon || 'caricon-truck'}} icon-large"></i></a></dd>
            <dt>Ярлыки</dt>
            <dd class="tags">
                <span class="tag label label-default" ng-repeat="(key, value) in system.tags">{{value}}
                    <i class="icon-minus-sign" title="Убрать" ng-click="removeTag(key)"></i>
                </span>
                <i class="icon-plus-sign" title="Добавить" ng-click="addTag()"></i>
            </dd>
            <dt>Наименование ТС</dt><dd contenteditable="true" ng-model="system.title" ng-change="system.$patch('title')"></dd>
            <dt>Гос номер</dt><dd contenteditable="true" ng-model="system.car.number" ng-change="system.$patch('car')"></dd>
            <dt>Год выпуска</dt><dd contenteditable="true" ng-model="system.car.year" ng-change="system.$patch('car')"></dd>
            <dt>№ двигателя</dt><dd contenteditable="true" ng-model="system.car.engine" ng-change="system.$patch('car')"></dd>
            <dt>№ кузова</dt><dd contenteditable="true" ng-model="system.car.vin" ng-change="system.$patch('car')"></dd>
            <dt>№ страхового полиса</dt><dd contenteditable="true" ng-model="system.car.insurance" ng-change="system.$patch('car')"></dd>
            <dt translate>Has a fuel sensor</dt><dd><input type="checkbox" class="btn btn-primary" ng-model="system.car.hasFuelSensor" ng-change="system.$patch('car')"></dd>
            <dt>Стоянка, минут</dt><dd contenteditable="true" ng-model="system.car.stop" ng-change="system.$patch('car')"></dd>
        </dl>

        <!-- <a class="btn btn-primary" href="#drivers">Водители</a> -->

        <!-- <a class="btn btn-primary" href="#tags">Ярлыки</a> -->
        <!-- <a class="btn btn-primary" href="#zones">Привязка к зонам</a> -->

    </div>

</div>

<div class="well well-small">
    <h4>Дополнительные действия </h4>
    <a class="btn btn-primary" href="#/logs/{{skey}}"><i class="icon-eye-open"></i> События</a>
    <a class="btn btn-primary" href="#/gps/{{skey}}"><i class="icon-film"></i> Экспорт GPS</a>
    <a class="btn btn-primary" href="#/config/{{skey}}/params"><i class="icon-wrench"></i> Настройка трекера</a>
    <a class="btn btn-primary" href="#/config/{{skey}}/params/fuel" ng-show="system.car.hasFuelSensor"><i class="icon-beer"></i>Расход топлива</a>
    <a class="btn btn-primary" href="#/config/{{skey}}/params/fuel-an"><i class="icon-beer"></i>Косвенный расчет расхода топлива</a>
</div>

<div class="modal fade" id="carIconsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выберите значек для {{ system.title }}</h4>
            </div>
            <div class="modal-body">
                <a ng-repeat="i in caricons" ng-click="setIcon(i)" title="{{ i.class }}"><i class="{{ i.class }} icon-2x"></i></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="changeParamModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Введите новое значение параметра</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" ng-model="param.value" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="addTag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавление ярлыка</h4>
            </div>
            <form name="form" ng-submit="addTagDone()" style="margin-bottom: 0;">
                <div class="modal-body">
                    <h4 ng-hide="edittags || (alltags.length === 0)">Выберите ярлык из списка</h4>
                    <h4 ng-show="edittags">Укажите лишние ярлыки</h4>
                    <a title="Удаление лишних ярлыков" ng-click="edittags = !edittags" style="float:right"><i class="icon-wrench"></i></a>
                        <div class="tags">
                            <span ng-class="{true:'editabletag'}[edittags]" class="tag label label-default" ng-repeat="(key, value) in alltags" ng-click="addTagThis(value)">{{value}}
                                <i class="icon-minus-sign icon-large" ng-show="edittags"></i>
                            </span>
                        </div>
                    <h4 ng-hide="edittags || (alltags.length === 0)">Или добавьте новый</h4>
                    <h4 ng-hide="edittags || (alltags.length !== 0)">Укажите имя ярлыка</h4>
                    <input ng-hide="edittags" class="form-control" ng-model="tagname" />
                </div>
                <div class="modal-footer" ng-hide="edittags">
                    <input type="submit" id="submit" class="btn btn-primary" value="Добавить"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
                <div class="modal-footer" ng-show="edittags">
                    <button type="button" class="btn btn-default" ng-click="edittags = false">Ок</button>
                </div>
            </form>
        </div>
    </div>
</div>
