<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Персональная система мониторинга транспорта</title>
    <meta name="author" content="BaDen"/>
    <!--meta name="viewport" content="width=device-width" initial-scale="1.0"/-->
    <meta name='HandheldFriendly' content='True' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <!-- <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" /> -->

    <!-- Bootstrap, font-awesome, etc -->
    <link rel='stylesheet' href='css/components.css' />
    <link rel='stylesheet' href='css/caricons.css' />

    <!-- TODO!!!! Add task on Gruntfile -->
    <!--[if lte IE 8]>
        <link rel='stylesheet' href='components/components-font-awesome/css/font-awesome-ie7.min.css' />
    <![endif]-->

    <!--meta name="viewport" content="width=device-width" /-->
    <link rel='stylesheet' media='screen and (min-width: 0px) and (max-width: 990px)' href='css/compact.css' />
    <link rel="stylesheet" type="text/css" href="css/<%= grunt.config.get('pkg.name') %>.css"/>
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png" />

</head>

<body ng-controller="AppCtrl">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!-- TODO: Если что-то можно сделать для <IE8, то сделать, если нет, то убрать -->
    <!--[if lte IE 8]>
        <script>
        // The ieshiv takes care of our ui.directives, bootstrap module directives and
        // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
        // However, IF you have custom directives (yours or someone else's) then
        // enumerate the list of tags in window.myCustomTags

        window.myCustomTags = [ 'gmap', 'chart', 'timeline', 'mapsyslist', 'mapsysitem', 'chooselang' ]; // optional
        </script>
        <script src="components/angular-ui-utils/modules/ie-shiv.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="components/es5-shim/es5-shim.min.js"></script>
        <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div ng-view class="content" ng-class="{contentfixed: location.path().match('^/map')}"></div>
    <!-- Механизм сообщение пока не задействован? -->
    <!--
    <div ng-include="'templates/notifications.tpl.html'" class="container-fluid notification" ng-show="notifications.getCurrent().length"></div>
    -->

    <loginform></loginform>

    <div id="loader">
            <i class="icon-refresh icon-4x icon-spin"></i>
    </div>

<!--     <div class="debug-panel" ng-click="showDebugPanel()" ng-class="debugpanel">
        now = {{ now() }}
        <button class="btn btn-primary" role="button" onclick="document.documentElement.webkitRequestFullScreen()"><i class="icon-fullscreen"></i> На весь экран</button>
    </div>
 -->

    <!-- TODO: Заменить на версии из components/... если это возможно -->
    <!-- <script type="text/javascript" src="js/xlsx.js"></script> -->
    <!-- <script type="text/javascript" src="js/jszip.js"></script> -->
    <!-- <script type="text/javascript" src="js/jszip-deflate.js"></script> -->
    <!-- Все вендорные файлы -->
    <script type="text/javascript" src="js/components.js"></script>

    <!-- drawing,places,geometry -->
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&v=3.exp&language=ru&libraries=places"></script>

    <!-- Sortable only -->

    <!-- // <script type="text/javascript" src="js/bootstrap-datepicker.js"></script> -->
    <!-- // <script type="text/javascript" src="js/locales/bootstrap-datepicker.ru.js"></script> -->

    <!-- TODO: Можно ли заменить на angular-ui-bootstrap? -->
    <script type="text/javascript" src="js/angular-strap-0.7.5.js"></script>

    <!-- <script type="text/javascript" src="js/sockjs-0.3.min.js"></script> -->
    <!-- <script type="text/javascript" src="js/<%= grunt.config.get('pkg.name') %>.min.js"></script> -->
    <script type="text/javascript" src="js/<%= grunt.config.get('pkg.name') %>.js"></script>

    <script type="text/javascript">
        window.document.onselectstart = function(ev){
            if((ev.target.getAttribute && ev.target.getAttribute('contenteditable')) || (ev.target.parentNode && ev.target.parentNode.getAttribute('contenteditable')!=null)) {
                return true;
            }
            return false;
        }   // Запретим выделение (внимание решение может быть не кроссбраузерно)


        // if(window.hasOwnProperty('applicationCache')){
        if(window.applicationCache){
          // var appCache = window.applicationCache;
          window.addEventListener('load', function(e) {
            window.applicationCache.addEventListener('updateready', function() {
              if (window.applicationCache.status === window.applicationCache.UPDATEREADY) {
                // alert('found new version!');
                // window.applicationCache.swapCache();
                if (confirm('Доступна новая версия сайта. Перезагрузить страницу?')) {
                  window.location.reload();
                }
              } else {
                // Manifest didn't changed. Nothing new to server.
              }
            }, false);
          }, false);
        }


// function onUpdateReady() {
//   alert('found new version!');
// }
// window.applicationCache.addEventListener('updateready', onUpdateReady);
// if(window.applicationCache.status === window.applicationCache.UPDATEREADY) {
//   onUpdateReady();
// }


        // $("[rel=tooltip]").tooltip();
        //angular.bootstrap(document, ['app']);
        var loader = document.querySelector("#loader");
        loader.parentNode.removeChild(loader);
    </script>
</body>
</html>

